body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

label {
    font-weight: bold;
}

.instructor-info {
    text-align: center;
}

.instructor-info img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.instructor-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.instructor-info p {
    font-size: 18px;
}

.instructor-info ul {
    list-style: none;
    padding: 0;
}
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    font-family: "Jersey 15", serif;
    font-size: 3rem;
    font-weight: lighter;
    color: white;
    /* Default color */
    transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    /* Smooth transition */
    opacity: 1;
    /* Default opacity */
}

.navbar-brand:hover {
    color: #e39dff;
    /* Hover color */
    transform: scale(1.1);
    /* Slight zoom effect */
    opacity: 0.8;
    /* Slightly fade effect */
    text-decoration: none;
}

.nav-link {
    transition: #e39dff 0.3s ease;
    color: white;
}

.nav-link:hover {
    color: #e39dff;
    text-decoration: none;
}

.nav-item {

    font-size: 1.5rem;
    margin: 0 15px;
    /* Adds space between items*/
}